/*.header-stack {
}
.header-stack #Header .top_bar_left {
	width: 100% !important;
}
.header-stack #Header .top_bar_left, .header-stack #Header .top_bar_right {
	background-color: transparent;
}
.header-stack #Top_bar {
	position: static;
}
.header-stack #Top_bar .logo {
	width: 100%;
	margin: 0;
	padding: 0 30px;
	text-align: left;
	border-bottom-width: 1px;
	border-style: solid;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header-stack.header-center #Top_bar .logo {
	text-align: center;
}
.header-stack.header-center #Top_bar .menu_wrapper {
	text-align: center;
	line-height: 0;
}
.header-stack.header-center #Top_bar #menu {
	line-height: initial;
	text-align: initial;
}

.header-stack.header-center #Top_bar:not(.is-sticky)
.menu_wrapper {
	width: 100%;
}

.header-stack.header-right #Top_bar .logo {
	text-align: right;
}

.header-stack #Top_bar .logo #logo {
	display: inline-block;
	height: auto;
}
.header-stack #Top_bar .menu_wrapper {
	clear: both;
}
.header-stack #Top_bar .menu_wrapper .menu > li > a {
	padding: 0;
}
.header-stack #Top_bar .menu > li > a span.description {
	margin-bottom: 10px;
}
.header-stack #Top_bar .top_bar_right {
	position: absolute;
	right: 0;
	bottom: -16px;
	top: auto;
}*/
/* .header-stack #Top_bar .top_bar_right:before {
	display: none;
}
.header-stack #Top_bar .secondary_menu_wrapper {
	position: absolute;
	right: 20px;
	top: 35px;
	display: block;
}
.header-stack.header-right #Top_bar .secondary_menu_wrapper {
	left: 20px;
	right: auto;
} */
/* .header-stack #Action_bar {
	position: static;
}
.header-stack #Action_bar .contact_details li, .header-stack #Action_bar .social, .header-stack #Action_bar .social-menu {
	padding: 12px 0;
}
body.header-stack:not(.template-slider)
#Header {
	min-height: 315px;
}

@media only screen and (max-width: 767px) {
	.header-stack #Top_bar .top_bar_right {
		position: static !important;
	}
	#Top_bar .top_bar_right .top_bar_right_wrapper {
		float: left !important;
	}
	.mobile-tb-left #Top_bar .top_bar_right .top_bar_right_wrapper {
		float: left !important;
	}
} */
/********************** Backgrounds **********************/

/* #Header_wrapper {
	background-color: #000119;
}
#Subheader {
	background-color: rgba(247, 247, 247, 1);
}
.header-classic #Action_bar, .header-stack #Action_bar {
	background-color: #2C2C2C;
}

#Sliding-top {
	background-color: #545454;
}
#Sliding-top a.sliding-top-control {
	border-right-color: #545454;
}
#Header .top_bar_left, .header-classic #Top_bar, .header-plain #Top_bar, .header-stack #Top_bar, .header-split #Top_bar, .header-fixed #Top_bar, .header-below #Top_bar, #Header_creative, #Top_bar #menu, .sticky-tb-color #Top_bar.is-sticky {
    background-color: #FCFCFC;
} */

/* 
padding: 10px 15px;
	margin: 10px;
	background:#fff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, .1);
	border-color: rgba(0, 0, 0, 0.08);
	border-width: 1px;
	border-style: solid;

	text-align: center;
	line-height: 0;
	height: 75px;
	line-height: 75px;
	position: relative
	*/

	.client_logos{
	padding: 10px 15px;
	margin: 10px;
	background:#fff;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, .2);
	border-color: rgba(0, 0, 0, 0.1);		
	border-radius: 10px;
	text-align: center;
	line-height: 0;
	height: 75px;
	line-height: 75px;
	position: relative
	}

	.client_logos:hover{
		-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
	}

	.feature_list ul li:hover a .icon i{
		color: #fff;
	}

	.zoom_box_new {
		/* background-color: 0px 5px 20px rgba(0, 0, 0, .2); */		
		position: relative;
		line-height: 0;
		overflow: hidden;	
		max-width: 100%
	}

	.zoom_box_new .photo img, .zoom_box .desc {
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out
	}
	.zoom_box_new .photo img {
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
		transform: scale(1)
	}
	.zoom_box_new:hover .photo img {

		-webkit-transform: scale(1.15);
		-moz-transform: scale(1.15);
		-ms-transform: scale(1.15);
		-o-transform: scale(1.15);
		transform: scale(1.15)
	}

	/* .bg_overlay{
		background-color: rgba(0, 0, 0, .63);
	} */